.text {
    text-align: center;
    margin-bottom: 40px;
  }
  
  @media (max-width: 640px) {
    .text {
      text-align: left;
    }

    .list {
      flex-direction: column;
      gap: 20px;
    }

    .list:nth-child(even) {
      flex-direction: column;
    }

    .image {
      width: 100%;
    }

    .footer {
      padding-top: 20px;
    }
  }